# Database
DATABASE_URL=

# NextAuth Authentication
AUTH_GOOGLE_ID= 
AUTH_GOOGLE_SECRET=
AUTH_SECRET=
NEXTAUTH_URL=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_SECRET=

# Google Gemini AI (fallback)
GEMINI_API_KEY=

# OpenAI
OPENAI_API_KEY=

# App Configuration
NEXT_PUBLIC_APP_URL=

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

STRIPE_WEBHOOK_SECRET=


# Stripe Price IDs expose to backend
STRIPE_PRICE_ID_BASIC=
STRIPE_PRICE_ID_PRO=
STRIPE_PRICE_ID_ENTERPRISE=


# Stripe Price IDs exposed to frontend
NEXT_PUBLIC_STRIPE_PRICE_ID_BASIC=
NEXT_PUBLIC_STRIPE_PRICE_ID_PRO=
NEXT_PUBLIC_STRIPE_PRICE_ID_ENTERPRISE=

# 4242 4242 4242 4242

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# CRON JOBS
CRON_SECRET=

# Blogs SuperUser Credentials
NEXT_PUBLIC_ADMIN_ID=
NEXT_PUBLIC_ADMIN_PASSWORD=

# Appwrite 
NEXT_PUBLIC_APPWRITE_ENDPOINT = 
NEXT_PUBLIC_APPWRITE_PROJECT_ID = 
NEXT_PUBLIC_APPWRITE_DATABASE_ID =
NEXT_PUBLIC_APPWRITE_COLLECTION_ID = 
NEXT_PUBLIC_APPWRITE_BUCKET_ID =    

